#update {
    width: 275px;
}

strong {
    padding:10px;
}

.btn {
    float:right;
    background-color: #49c6e5;
}

.links {
    float: right;
}

#del {
    color: red;
    margin-left: 10px;
}

.noData {
    text-align: center;
    color: red;
}