@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
.navBar {
    background-color: #54defd;
    font-family: 'Playfair Display', serif;
}

#navlinktext {
    color: white;
    cursor: pointer;
}
